body {
    background-color: rgb(255, 98, 50);
}
h2 {
    color: rgb(253, 255, 158);
}
p {
    border-top: solid; border-bottom: solid; border-left: solid; border-right: solid;
}
h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}